{% extends 'head.html' %}

{% block nav_block %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Продукция
    </a>
    <ul class="dropdown-menu">
      {% if user.is_authenticated %}
        {% for category in categories %}
          <li><a class="dropdown-item" href="{% url 'product_list' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
      {% else %}
        {% for category in categories %}
        <li><a class="dropdown-item" href="{% url 'login' %}">{{ category.name }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="#"></a>
  </li>
  {% if user.is_authenticated %}
    <!-- Если пользователь авторизован -->
    {% if user.is_active and user.is_staff %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Панель управления
        </a>
        <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'add_product' %}">Препараты</a></li>
              <li><a class="dropdown-item" href="{% url 'add_category' %}">Категории</a></li>
              <li><a class="dropdown-item" href="{% url 'add_producer' %}">Производители</a></li>
              <li><a class="dropdown-item" href="{% url 'add_advert' %}">Реклама</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_orders' %}">Обработка заявок</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrator' %}">{{ user.username }}</a>
      </li>
    {% elif user.is_active %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'active' %}">{{ user.username }}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
    </li>
  {% else %}
    <!-- Если пользователь не авторизован -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Войти</a>
    </li>
  {% endif %}
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2>Добавить баннер</h2>
            <form method="POST" action="{% url 'add_advert' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Добавить</button>
            </form>
        </div>

        <!-- List of Added Categories -->
        <div class="col-md-6">
            <h2>Все баннеры: </h2>
            <br>
            {% for adv in adverts %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ adv.heading }}</h5>
                        <!-- Add Edit and Delete Buttons (placeholders for now) -->
                        <a href="{% url 'edit_advert' adv.id %}" class="btn btn-warning">
                          <i class="bi bi-pencil"></i> Редактировать
                        </a>
                      
                        <a href="{% url 'delete_advert' adv.id %}" class="btn btn-danger">
                          <i class="bi bi-trash"></i> Удалить
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}