{% extends 'head.html' %}

{% block nav_block %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Продукция
    </a>
    <ul class="dropdown-menu">
      {% if user.is_authenticated %}
        {% for category in categories %}
          <li><a class="dropdown-item" href="{% url 'product_list' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
      {% else %}
        {% for category in categories %}
        <li><a class="dropdown-item" href="{% url 'login' %}">{{ category.name }}</a></li>
        {% endfor %}
      {% endif %}
    </ul>
  </li>
  
  <li class="nav-item">
      <a class="nav-link" href="#"></a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'client_orders' %}">Мои заявки</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'favorite_list' %}">Избранное</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'review_list' %}">Мои отзывы</a>
  </li>
    <!-- Если пользователь авторизован -->
    {% if user.is_active and user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'administrator' %}">{{ user.username }}</a>
      </li>
    {% elif user.is_active %}
    <li class="nav-item">           
      <a class="nav-link" href="{% url 'cart' %}"><i class="bi bi-cart-plus-fill bi-5x"></i> Корзина </a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'active' %}">{{ user.username }}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
    </li>
  {% else %}
    <!-- Если пользователь не авторизован -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Войти</a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Препараты</li>
      <li class="breadcrumb-item">Заказ</li>
    </ol>
</nav>

  <div class="row">
  <div class="col-md-6">
<form method="post" action="{% url 'ordering' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label for="{{ form.full_name.id_for_label }}" class="form-label">Ф.И.О:</label>
        {{ form.full_name }}
    </div>

    <div class="mb-3">
        <label for="{{ form.phone_number.id_for_label }}" class="form-label">Номер телефона:</label>
        {{ form.phone_number }}
    </div>

    <div class="mb-3">
        <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
        {{ form.email }}
    </div>

    <div class="mb-3">
        <label for="{{ form.delivery_address.id_for_label }}" class="form-label">Адрес доставки:</label>
        {{ form.delivery_address }}
    </div>

    <div class="mb-3">
        <label for="{{ form.comments.id_for_label }}" class="form-label">Комментарий:</label>
        {{ form.comments }}
    </div>

    <div class="mb-3">
        <label for="{{ form.recipe.id_for_label }}" class="form-label">Приложите фото рецепта:</label>
        {{ form.recipe }}
    </div>

    <div class="mb-3">
      <label class="form-label">Способ оплаты:</label>
      <div class="form-check">
          {% for radio in form.payment_method %}
              <div class="form-check">
                  {{ radio }}
              </div>
          {% endfor %}
      </div>
  </div>

    <button type="submit" class="btn btn-dark">Оформить заказ</button>
</form>
</div>
</div>

  <hr>
  <h2>Товары в корзине:</h2>
  <ul>
    {% for cart_product in cart_products %}
      <li>{{ cart_product.product.name }} - {{ cart_product.quantity }} шт. ({{ cart_product.product.price }} ₸ за шт.)</li>
    {% endfor %}
  </ul>
  <p><strong>Итоговая сумма: {{ total_price }} ₸</strong></p>
<br>
{% endblock %}